@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
    background: white;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
.about-heading {
    font-size: 60px;
    color: #333;
    margin-top: 10px;
    text-align: center;
}

.about-subheading {
    font-size: 42px;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.about-p {
    font-size: 18px;
    color: #555;
    margin-top: 15px;
    text-align: justify;
    letter-spacing: 1.1px;
}

.about-p1{
    font-size: 18px;
    color: #555;
    margin-top: 15px;
    text-align: center;
    letter-spacing: 1.1px;
}

.about-list {
    list-style: disc;
    margin-left: 20px;
    color: #555;
}

.expand-button div {
    position: relative;
    vertical-align: top;
    margin-top: -30px;
    list-style: none;
    display: inline-block;
    transition: 200ms ease-in-out all;
    line-height: 0;
    cursor: pointer;
  }
    
  .expand-button div:focus {
    font-size: 18px;
    margin-top: -5px;
    color: #555;
    text-align: justify;
    letter-spacing: 1.1px;
    line-height: 1.5;
    outline: none;
  }
  
  .expand-button div:after {
   width: 100%;
   text-align: center;
   position: relative;
   display: block;
   content: "Click to Expand"
  }
  
  .expand-button div:focus:before {
    opacity: 0;
  }
  
  .expand-button div:focus span {
    animation: 2s show;
    opacity: 1;  
  }
  
  .expand-button div span {
    opacity: 0;          
  }
  
  .expand-button div:focus:after {
    display: none;
  }
  
  @keyframes show {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  section,
  section:before,
  section:after {
    box-sizing: border-box;
    position: relative;
    letter-spacing: 0.04em;
  }

  .revealUp {
    opacity: 0;
    visibility: hidden;
  }

  .spacer {
    height: 50vh;
    background-color: #000;
  }

  .section {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg1 {
    background-color: #ccc;
  }