@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.shop {
    line-height: 1.1;
    font-family: "Poppins", sans-serif;
}
.favorited .product-item {
    transform: translateX(-100%);
    opacity: 0;
    filter: blur(5px);
    transition: transform 1s, opacity 1s;
}

.favorited .product-item.show {
    transform: translateX(0);
    filter: blur(0);
    opacity: 1;
}

@media (prefers-reduced-motion) {
    .favorited .product-item {
        transition: none;
    }
}
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 4rem;
}
.favorite-txt {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
    font-size: 36px !important;
    font-weight: normal;
    color: black;
    text-align: center;
    align-self: center;
    font-family: "Dancing Script", sans-serif;
}
.favorite-txt span {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
    font-size: 36px !important;
    color: red;
    text-align: center;
    align-self: center;
    font-family: "Dancing Script", sans-serif;
}
.shop img {
    width: 100%;
    height: 200px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.shop .row {
    position: relative;
    padding: 10px 35px 40px;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
.row h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 700;
}
.row p {
    color: #333;
    font-size: var(--p-font);
    line-height: 20px;
    margin-bottom: 1.1rem;
}
.intext {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intext .price h6 {
    margin-top: 10px;
    font-size: 12px;
    color: red;
    font-weight: 600;
}
.intext .s-btnn a {
    display: inline-block;
    padding: 9px 23px;
    border: 0.1rem solid red;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    color: black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.5s ease;
}
.intext .s-btnn a:hover {
    background-color: red;
    color: white;
    border-color: red;
}
.intext .s-btnn a:active {
    background-color: indianred !important;
    color: white !important;
    border-color: indianred !important;
}
.top-icon {
    position: absolute;
    top: 30px;
    left: 30px;
}
.top-icon i {
    font-size: 22px;
    color: red;
}
.row img:hover {
    transform: scale(1.1);
}
.filter-button {
    background: none;
    border: none;
}

.filter-button.active .filter-card {
    background-color: red;
    color: #fff;
}

.filter-button:hover .filter-card {
    background: red;
    color: white;
    transition: all 0.5s;
}

.filter-button.active .logo {
    color: white; /* Logo color for active button */
}

.filter-wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.filter-menu {
    display: flex;
    white-space: nowrap;
    overflow-x: hidden; /* Change 'auto' to 'hidden' */
    width: calc(100% - 120px);
}

.filter-card {
    flex: 0 0 auto; /* Add this to make the filter cards not grow */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    height: 100%;
    color: black;
    border-radius: 8px;
    border: 1px solid red;
    font-size: 14px;
    padding: 10px 10px 0;
    margin-right: 10px;
}

.filter-card p {
    margin-top: 20px;
}

.menu-container {
    width: 100%;
    overflow-x: auto;
}

.scroll-button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 7px; /* Set the margin-top to 7px */
}

.scroll-button.left {
    margin-right: 10px; /* Add some spacing between buttons */
}

.scroll-button.right {
    margin-left: 10px; /* Add some spacing between buttons */
}
